<!DOCTYPE html>
<html>
<head>
	<title>title</title>
</head>
<body>
	<ul>
		{{#each db}}
    		<li>{{this.name}}</li>
    		<li>{{this.age}}</li>
    		<li>{{this.isGay}}</li>
  		{{/each}}
	</ul>
</body>
</html>